* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: rgb(48, 48, 48);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 2rem;
}
.title {
  margin: 1rem;
}

.img {
  width: 90%;
}

.video {
  width: 90%;
}

.img img {
  width: 100%;
}

.video iframe {
  width: 100%;
}

.explanation {
  width: 90%;
  margin-top: 1rem;
  font-size: 1.3rem;
}
